* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    background-color: rgb(2, 2, 27);
    color: whitesmoke;
}
#portfolio{
    height: 100vh;
    width: 100%;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4em;
    margin-top: 1em;
   


}

nav h2 {
    color: rgba(250, 208, 41, 0.996);
    font-weight: 700;

}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 2em;

}

nav ul a {
    color: whitesmoke;
}

nav ul li a {
    text-decoration: none;

    &:hover {
        color: rgba(250, 208, 41, 0.996);
        border-bottom: 2px solid rgba(250, 208, 41, 0.996);

    }
}

nav ul li {

    font-size: 1.2em;
    font-weight: 500;

}

nav ul i {
    display: none;
}

.mode {
    border: 2px solid rgb(240, 233, 233);
    padding: 5px;
    border-radius: 8px;
}

nav .mode i {

    font-size: 1.2em;
    margin: 0 10px;
}


/* hero section */

#hero {
    margin-top: 10em;
}

.left p span {
    color: rgba(250, 208, 41, 0.996);
    font-size: 2em;
    margin-left: 0.2em;
    font-weight: 700;

}

.left a {

    text-decoration: none;
    color: rgba(250, 208, 41, 0.996);
    border: 2px solid rgb(250, 208, 41, 0.996);
    padding: 0.3em 0.7em;
    border-radius: 4px;
    display: inline-block;
    margin-top: 1em;

}

.left p {
    font-size: 1.2em;
    margin-top: -0.8em;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 400px;
    margin-top: -5em;
    margin-left: 10em;

}
.right .circle {
  border: 5px solid rgba(250, 208, 41, 0.996);
  border-radius: 50%;
  overflow: hidden; /* image zoom hone par bahar na nikle */
  width: 370px;
  height: 370px;
}

.right .circle img {
  object-fit: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 10px solid black;

  transition: transform 0.5s ease-in-out; /* smooth animation */
}

/* Hover effect */
.right .circle img:hover {
  transform: scale(1.1); /* zoom */
}


.cursor{
    position: absolute;
    opacity: 0;
    display: flex;
    text-align: center;
    color: rgba(250, 208, 41, 0.996);
    font-size: 3em;
}


/* About */

#about h1{
    display: inline-block;
    border-bottom: 2px solid rgba(250, 208, 41, 0.996);
    
}
#about p{
    margin-top: 0;
    padding: 2rem;
}

/* skills */

#skills{
    height: 100vh;
    width: 100%;
    margin-top: 5rem;

}

.skills{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    gap: 3rem;
}

.image{
  width: 100px;
  height: 70px;
}
.image img{
    height: 100%;
    width: 100%;
    padding: 0.5rem;
    margin-top: 1rem;
    background-color: transparent;

}
.skill{
    height: 180px;
    width: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.996);
}
.skill p{
    padding: 0.5rem;

}
  /* Projects */
#projects{
    height: 100vh;
    width: 100%;
}
.projectsContainer{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
  .project{
    height: 350px;
    width: 350px;
    border: 2px solid white;
    padding: 1rem;
  }