* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
.logo{
    color: rgb(253, 184, 11);
    font-weight: 600;
}

ul li{
    list-style: none;

}
ul li a{
    text-decoration: none;
    color: black;

}
nav{
    display: flex;
    justify-content: space-between;
}
ul{
    display: flex;
    gap: 2rem;
    font-size: 1.2rem;
}

/* icons */

ul i{
    display: none;   
}
nav i{
    display: none;
}

/* hero */

#hero{
    margin-top: 10rem;
    height: 100vh;
    width: 100%;
}
#hero a{
    color: rgb(253, 184, 11);
    text-decoration: none;
    font-size: 1.1rem;
    border: 3px solid rgb(253, 184, 11);
    padding: 0.2rem 0.8rem;
    border-radius: 4px;
   
}

.left p{
    font-size: 1.6rem;
}

.left span{
    font-size: 2.5rem;
    margin-left: 0.4rem;
    color: rgb(253, 184, 11);
}
.right{
    margin-top: -5rem;   
}

.circle{
    height: 27rem;
    width: 27rem;
    border: 5px solid rgb(253, 184, 11);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle img{
    width: 95%;
    height: 95%;
    object-fit: cover;
    transition: 0.5s;

}
.img-fluid{
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

.circle img:hover{
   transform: scale(1.05);
}